body {
    background-color: lightblue;
    height: 100vh;
}

.date {
   padding-left: 30%;
}

.forecast {
    background-color: lightpink;
    border: 1px solid black;
}

.forecast:hover {
    background-color: pink;
}

.day0 {
    background-color: white;
    border: 2px solid black;
}

.secondRow {
    padding-left: 25%;
}